html {
	font-family: 'Ubuntu' sans-serif;
  font-size: 20px;
}

.unbehaved-element {
    font-size: 2em;
}
@media(max-width: 1580px) {
  html {
    font-size: 18px;
  }
  .unbehaved-element {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  html {
    font-size: 16px;
  }
}

*{box-sizing: border-box;}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #f1f1f1;
	margin: 0;
	padding: 0;
  display: block;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	font-kerning: normal;
	font-feture-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	line-height: normal;
	}

.cards {
	display: block;
	flex-wrap: wrap;
  float: right;
  width: 70%;
	justify-content: space-between;
	padding: 20px;
}

.left-pane{
  height: 100%;
  width: 30%;
  float: left;
  padding: 20px;
  border-right: solid;
}

.left-pane-card{
  display: block;
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border: solid;
  border-width:1px;
  border-color: rgba(0,0,0,.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card {
	flex: 0 1 24%;
	background-color: white;
	padding: 4px;
  border: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.12);
  margin-bottom: 15px;
  margin-top: 15px;
	border-radius: 1.5px;
  width: 100%;
  min-height: 200px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card h3 {
  padding: 5px;
  margin: 0;
}

.card h4 {
  padding-left: 5px;
  font-weight: normal;
  margin: 0;
}

.page{
	margin-left: 10%;
	margin-right: 10%;
	}


@media screen and (min-width: 769px) {
	#jc-header {
		height: 120px;
		text-align: inherit;
	}
}

.wrapper{
	margin-left: auto;
	margin-right: auto;
}

.wrapper:after{
	content: "";
	display: table;
	clear: both;
}

.jc-header {
	border-top: 10px solid #001970;
	border-bottom: 1px solid #e8e8e8;
	height: 140px;
	background: #666ad1;
	padding: inherit;
	margin:0;
  width: auto;
}

.centered{
  width: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.jc-sub-header{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1200px;
}

.logo-box {
	padding: 15px;
  width: 100px;
}

/**need to fix this, padding is wrong*/
.site-title{
	font-size: 24px;
	font-weight: bold;
	line-height: 54px;
	float:left;
	color:black;
	padding: 40px;
}

.site-nav{
	float: right;
	line-height: 54px;
}

.nav-link{
	color: white;
	font-size: 20px;
}

.site-footer{
	height: 100px;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 5px;
  background-color: #303f9f;
  color: white;
}

.jc-sub-header a{
  color: white;
  font-style:normal;
  text-decoration: none;
}

.top-container {
	background-color: #328cc1;
	padding: 0px;
	text-align: center;
	font-size: 24px;
	}

h1 {
    display: block;
    margin: 0;
	}
